h2{
	padding: 10px;
	border: dashed blue;
}
table{
	margin: 60px;
}
footer{
	 text-align: center;
}
body {
  background: url(happiness.jpg);
}
p{
	font-weight: bold;
}
ul.classy {
  background-color: DodgerBlue;
}
h3.corny {
	background-color: red;
}
a:visited {
    color: green;
}
aside#att {
  background-color: orange;
}
@media only screen and (max-width: 500px) {
    body {
        font-size: 1em;
    }
}

