h2{
	padding: 10px;
	border: dashed blue;
}
table{
	margin: 60px;
}
footer{
	 text-align: center;
}
body {
  background: url(happiness.jpg);
}
p{
	font-style: helvetica;
}
p.first{ color: blue; }
p.second{ color: red; }